.main {
  margin-top: 60px; /* ヘッダーの高さと同じ高さのマージンを追加 */
}

#concept .section-container-card {
  height: 45; /* 単位を指定する必要がある (例: 45px) */
  gap: 2.4rem;
  padding: 2.4rem 3.2rem;
  margin: 5rem auto;
}

.section-container-card {
  display: flex;
  /* max-width: max-content; */
  width: 90%;
}

.section-container-text {
  text-align: center;
  padding: 2.4rem;
}

.text {
  border-top: 1.5px solid black;
}

.text-area {
  width: 80%;
}

#menu {
  text-align: center;
  padding: 20px;
}

#access {
  text-align: center;
  padding: 20px;
  background-color: rgba(169,169,169,0.5);
}